{%extends "DropmoviFrontendBundle:Template:frontend_template.html.twig"%}
{%block title%}¡Bienvenido a {{parent()}}!{%endblock%}
{%block container%}
<div class="container-fluid">
    <div class="span9">
        <!-- List -->
        <ul class="breadcrumb well well-small">
            <li><a href="#">Reciente</a> <span class="divider">/</span></li>
            <li><a href="#">Lo mas popular</a> <span class="divider">/</span></li>
            <li><a href="#">Todo</a></li>
        </ul>
        <!-- list publications -->
        <ul class="thumbnails">
            {%for lastPublication in lastPublications%}
            <li class="span2">
                <div class="thumbnail thumb-publication">
                    <a href="{{path('dropmovi_frontend_view_publication', {'category':lastPublication.category.slug, 'slug':lastPublication.slug, 'id':lastPublication.id})}}">
                        <img src="{{lastPublication.WebPath|apply_filter('thumb_cover_publi_homepage')}}" alt="{{lastPublication.slug}}">
                    </a>
                    <div class="wrapper-tools-group"><i class="icon-heart"></i> 345 <i class="icon-comment"></i> 20</div>
                </div>
                <div class="wrapper-info-user">
                   <img src="{{lastPublication.author.WebPath|apply_filter('thumb_profile_homepage')}}" class="img-circle"></a>
                   <a href="{{path('dropmovi_frontend_public_profile', {'username':lastPublication.author.username})}}"><small>{{lastPublication.author.name~" "~lastPublication.author.lastName}}</small>
                </div>
            </li>
            {%endfor%}
        </ul>
    </div>
    <div class="span3">
        <!--Sidebar content-->
    </div>
</div>
{%endblock%}
