{%extends "DropmoviFrontendBundle:Template:frontend_template.html.twig"%}
{% form_theme form "DropmoviFrontendBundle:Form:form_layout_new_comment.html.twig" %}
{%block title%}{{publication.title}} | {{parent()}}!{%endblock%}
{%block container%}
<div class="container-fluid">
    <div class="span8">
        <div class="row-fluid">            
            <div class="span10 wrapper-prf-view-publi">
                <img src="{{publication.author.getWebPath|apply_filter('thumb_profile_view_publi')}}" class="img-rounded">
                <div class="title-view-publi">{{publication.title}}</div>
                <div class="author-view-publi"><i class="icon-user"></i> <a href="{{path('dropmovi_frontend_public_profile', {'username':publication.author.username})}}">{{publication.author.name~" "~publication.author.lastName}}</a></div>
                <div class="date-view-publi"><i class="icon-calendar"></i> {{publication.dateOfCreate|date('M d, Y', 'America/Argentina/cordoba')}}</div>
            </div>
        </div>
        <hr>
        <div class="row-fluid">            
            <div class="span8 wrapper-cover-view-publi">
                <a target="blank" href="{{publication.WebPath}}"><img src="{{publication.WebPath|apply_filter('thumb_cover_view_publi')}}" /></a>
            </div>
            <div class="span4">
                <div class="title-publi"><i class="icon-flag"></i>&nbsp;Categoría</div>
                <p><span class="label label-info">{{publication.category.name}}</span></p>
                <div class="title-publi"><i class="icon-tags"></i>&nbsp;Tags</div>
                <p>{{publication.tags}}</p>
                <div class="title-publi"><i class="icon-share"></i>&nbsp;Compartelo</div>
                <p></p>
            </div>
        </div>
        <hr>
        <div class="row-fluid">            
            <div class="span10">
                {{publication.content|raw}}
            </div>
        </div>
    </div>
    <div class="span4">
        <legend>Comentarios</legend>
        {%for comment in publication.comments%}
            <div class="wrapper-comment {%if app.user.id == comment.author.id%}owner-comment{%endif%}">
                <img class="img-rounded" src="{{comment.author.WebPath|apply_filter('thumb_view_publi_profile')}}">
                <div class="comment-user">{{comment.author.name~" "~comment.author.lastName}}</div>
                <div class="comment-content"><blockquote>{{comment.content}}</blockquote></div>
                <div class="comment-date">{{comment.dateOfCreate|date('M d, Y - H:m:s', 'America/Argentina/Cordoba')}}</div>
                {%if app.user.id == comment.author.id%}<div class="comment-option"><a href="{{path('dropmovi_frontend_remove_comment', {'id':comment.id})}}">Eliminar</a></div>{%endif%}
            </div>
        {%endfor%}
        <div id="wrapper-form-comment">
            {% if is_granted('ROLE_USER') %}
                <form method="POST" {{ form_enctype(form) }}> 
                    {{form_errors (form.content)}}
                    {{form_widget (form.content)}}
                    <input type="submit" value="Comentar" class="btn btn-success">
                    {{form_rest (form)}}
                </form>
            {%endif%}            
        </div>
    </div>
</div>
{%endblock%}
