{%extends "DropmoviFrontendBundle:Template:frontend_template.html.twig"%}
{%block title%}Crear una cuenta en {{parent()}} - {{parent()}}{%endblock%}
{%block container%}
<div class="container-fluid">
    <div class="span8">
        <form class="form-horizontal" method="POST" {{ form_enctype(form) }}>
            <legend>¡Crear una cuenta en Dropmovi!</legend>
            <div class="control-group">
                <label class="control-label">Nombre</label>
                <div class="controls">
                    {{form_widget (form.name)}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Apellido</label>
                <div class="controls">
                    {{form_widget (form.lastName)}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Usuario</label>
                <div class="controls">
                    {{form_widget (form.username)}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Email</label>
                <div class="controls">
                    {{form_widget (form.email)}}
                </div>
            </div>  
            <div class="control-group">
                <label class="control-label">Contraseña</label>
                <div class="controls">
                    {{form_widget (form.password)}}
                </div>
            </div>                      
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">¡Crear mi cuenta en Dropmovi!</button>
                </div>
            </div>
            {{form_rest (form)}}            
        </form>
    </div>
    <div class="span4">
        <!--<div id="wrapper-info">
            <h4>Encontra <span>lo que necesitas</span></h4>
            <p>
                <small>
                    Encuentra la pelicula que hace mucho que buscas, el libro que nunca
                    pudiste comprar, o disco que buscas hace mucho.
                </small>
            </p>
            <h4>Ayuda <span>a los demas</span></h4>
            <p>
                <small>
                    No solo podras encontrar lo que hace tiempo que buscas, si no, que tambien
                    podes compartir con los demas.
                </small>
            </p>
        </div>-->
        {%render 'DropmoviFrontendBundle:Snippets:newsPublicaitons'%}
    </div>
</div>
{%endblock%}
