{%extends "DropmoviFrontendBundle:Template:frontend_template.html.twig"%}
{% form_theme form "DropmoviFrontendBundle:Form:form_layout_new_comment.html.twig" %}
{%block title%}{{publication.title}} | {{parent()}}{%endblock%}
{%block description%}{{publication.description|slice(0, 200)|raw}}{%endblock%}
{%block keywords%}{%for tag in publication.tags%}{{tag.name}}, {%endfor%}{%endblock%}
{%block container%}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 wrapper-publi">
            <div class="row-fluid">            
                <div class="span12 wrapper-prf-view-publi">
                    <img src="{{publication.author.getWebPath|apply_filter('thumb_profile_view_publi')}}" class="img-rounded">
                    <div class="title-view-publi">{{publication.title}}</div>
                    {%if is_granted('ROLE_USER') and app.user.id == publication.author.id%}
                        <div class="option-view-publi">{%include "DropmoviFrontendBundle:Publication:Snippet/buttons_logged_in.html.twig"%}</div>
                    {%else%}
                        <div class="option-view-publi">{%include "DropmoviFrontendBundle:Publication:Snippet/buttons_logged_out.html.twig"%}</div>
                    {%endif%}
                    <div class="author-view-publi"><i class="icon-user"></i> <a href="{{path('dropmovi_frontend_public_profile', {'username':publication.author.username})}}">{{publication.author.name~" "~publication.author.lastName}}</a></div>
                    <div class="date-view-publi"><i class="icon-calendar"></i> {{publication.dateOfCreate|date('M d, Y', 'America/Argentina/cordoba')}}</div>
                </div>
            </div>
            <hr>
            <div class="row-fluid">            
                <div class="span8 wrapper-cover-view-publi">
                    <a target="blank" href="{{publication.WebPath}}"><img src="{{publication.WebPath|apply_filter('thumb_cover_view_publi')}}" /></a>
                </div>
                <div class="span4 wrapper-info">
                    <div class="title-publi"><i class="icon-flag"></i> Categoría</div>
                    <div class="wrapper-content-info">{{publication.category.name}}</div>
                    <div class="title-publi"><i class="icon-tags"></i> Etiquetas</div>                     
                        {%for tag in publication.tags%} 
                            <a href="#" class="link-tag"><div class="wrapper-tags">{{tag.name}}</div></a>
                        {%endfor%}   
                    <div class="title-publi"><i class="icon-eye-open"></i> Visitas</div>
                    <div class="wrapper-content-info">{{publication.visits}}</div>
                </div>
            </div>
            <hr>
            <div class="row-fluid">            
                <div class="span11">
                    {{publication.content|raw}}
                </div>
            </div>
        </div>
        <div class="span4">
            <legend>Comentarios ({{publication.comments|length}})</legend>
            <div id="wrapper-all-commets">
                {%for comment in publication.comments%}  
                    <div class="wrapper-comment {%if comment.author.id == publication.author.id %}owner-comment{%endif%}" id="comment-{{comment.id}}">
                        <img class="img-rounded" src="{{comment.author.WebPath|apply_filter('thumb_view_publi_profile')}}">
                        <div class="comment-user">{{comment.author.name~" "~comment.author.lastName}}</div>
                        <div class="comment-content"><blockquote>{{comment.content}}</blockquote></div>
                        <div class="comment-date">{{comment.dateOfCreate|date('M d, Y - H:m:s', 'America/Argentina/Cordoba')}}</div>
                        {%if is_granted('ROLE_USER') and app.user.id == comment.author.id%}<div class="comment-option"><a class="link-delete-comment" id="{{comment.id}}" href="{{path('dropmovi_frontend_remove_comment', {'id':comment.id})}}">Eliminar</a></div>{%endif%}
                    </div>
                {%endfor%}
            </div>
            <div id="wrapper-form-comment">
                {%if is_granted('ROLE_USER')%}
                    <form id="form-comment" method="POST" {{ form_enctype(form) }}> 
                        {{form_errors (form.content)}}
                        {{form_widget (form.content)}}
                        <input type="submit" value="Comentar" class="btn btn-success">
                        {{form_rest (form)}}
                    </form>
                {%else%}
                    <span>
                        Debes tener una cuenta para poder comentar<br>
                        <a href="{{path ('dropmovi_frontend_login')}}">Ingresar</a> |
                        <a href="{{path ('dropmovi_frontend_signin')}}">Crear una cuenta</a>
                    </span>
                {%endif%}            
            </div>
        </div>
    </div>    
</div>
{%endblock%}
