{%extends 'DropmoviFrontendBundle:Template:frontend_template.html.twig'%}
{%block title%} {{user.name ~" "~ user.lastName}} ({{user.username}}) - {{parent()}}{%endblock%}
{%block container%}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span7 offset1 column-left">
            <div class="row-fluid">
                <div class="span2"><img src="{{user.getWebPath|apply_filter('thumb_profile')}}" class="img-circle"></div>
                <div class="span10">
                    <h3>{{user.name ~ " " ~ user.lastName}} {%if user.id == app.user.id%}<a class="btn btn-success" href="{{path ('dropmovi_frontend_edit_profile')}}"><i class=" icon-chevron-right icon-white"></i>Editar perfil</a>{%endif%}</h3>
                    <p>{{user.biography}}</p>
                    {%if user.location%}<li class="icon-map-marker"></li> {{user.location}}{%endif%} 
                    {%if user.location%}<li class="icon-globe"></li> <a href="{{user.website}}" target="blank">{{user.website}}</a>{%endif%}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 ">
                    <legend>Drops</legend>                
                    {%if publications%}
                        {%for publication in publications%}
                            <div class="media">
                                <a class="pull-left" href="{{path('dropmovi_frontend_view_publication', {'category':publication.category.slug, 'slug':publication.slug, 'id':publication.id})}}">
                                    <img class="media-object img-polaroid" src="{{publication.WebPath|apply_filter('thumb_cover_publi_profile')}}">
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <a href="{{path('dropmovi_frontend_view_publication', {'category':publication.category.slug, 'slug':publication.slug, 'id':publication.id})}}">{{publication.title}}</a>
                                        {%if user.id == app.user.id%}
                                            <small>
                                                <a href="{{path ('dropmovi_frontend_edit_publication', {'id':publication.id})}}">editar</a> · 
                                                <a href="{{path('dropmovi_frontend_remove_publication', {'id':publication.id})}}">eliminar</a>
                                            </small>
                                        {%endif%}
                                    </h5>
                                    <p><small>{{publication.description|slice(0,200)|raw}}...</small></p>                                
                                </div>
                            </div>
                        {%endfor%}
                    {%else%}
                        <p class="text-info well">No has compartido nada aún.</p>
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="wrapper-collumn-right">
            <h4>¿Drops?</h4>
            <p>
              <small>
                    Los Drops contenido que los usuarios han publicado.
                    Mira los ultimos, tal vez encuentres lo que buscas...
              </small>
            </p>
            {%render 'DropmoviFrontendBundle:Snippets:newPublications'%}
            </div>
        </div>
    </div>
</div>
{%endblock%}
